body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(to right, #000000 0%, #000000 20%, #6a4f24 50%, #000000 80%, #000000 100%);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #DAA520;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.titles {
    flex-grow: 1;
    /* Permet aux titres de prendre tout l'espace disponible à gauche */
}

.discord-button {
    margin-left: auto;
    /* Pousse le bouton Discord à droite */
}

.discord-button a {
    background-color: #7289DA;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.discord-button a:hover {
    background-color: #5b6eae;
}

.content {
    display: flex;
    background-image: url('fotor-ai-20240508182044.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 800px;
}

.content_Marchand {
    display: inline-flex;
    background-image: url('Background_Monney.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 600px;
}

.article-left {
    width: 50%;
    height: 30rem;
    /* Prend la moitié de la largeur du content */
    padding: 20px;
    /* Ajoute de l'espace autour du texte */
    box-sizing: border-box;
    /* Inclut le padding dans le calcul de la largeur */
    background: rgba(255, 255, 255, 0.5);
    /* Fond légèrement transparent */
    border: 2px solid #DAA520;
    /* Bordure dorée */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Ombre portée pour un effet de profondeur */
    margin: 20px;
    /* Marge autour de l'article pour ne pas coller aux bords du content */
    border-radius: 10px;
    /* Bordures arrondies */
}

.article-left-Marchand {
    width: 50%;
    height: 30rem;
    /* Prend la moitié de la largeur du content */
    padding: 20px;
    /* Ajoute de l'espace autour du texte */
    box-sizing: border-box;
    /* Inclut le padding dans le calcul de la largeur */
    background: rgba(226, 197, 197, 0.699);
    /* Fond légèrement transparent */
    border: 2px solid #DAA520;
    /* Bordure dorée */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Ombre portée pour un effet de profondeur */
    margin: 20px;
    /* Marge autour de l'article pour ne pas coller aux bords du content */
    border-radius: 10px;
    /* Bordures arrondies */
}

.article-right {
    width: 50%;
    height: 30rem;
    margin-left: 50%;
    /* Prend la moitié de la largeur du content */
    padding: 20px;
    /* Ajoute de l'espace autour du texte */
    box-sizing: border-box;
    /* Inclut le padding dans le calcul de la largeur */
    background: rgba(255, 255, 255, 0.5);
    /* Fond légèrement transparent */
    border: 2px solid #DAA520;
    /* Bordure dorée */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Ombre portée pour un effet de profondeur */
    margin: 20px;
    /* Marge autour de l'article pour ne pas coller aux bords du content */
    border-radius: 10px;
    /* Bordures arrondies */
}

.article-right-Marchand {
    width: 50%;
    height: 30rem;
    margin-left: 50%;
    /* Prend la moitié de la largeur du content */
    padding: 20px;
    /* Ajoute de l'espace autour du texte */
    box-sizing: border-box;
    /* Inclut le padding dans le calcul de la largeur */
    background-image: url('Marchand.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #474242;
    /* Couleur de fond pour les espaces vides */

    /* Fond légèrement transparent */
    border: 2px solid #DAA520;
    /* Bordure dorée */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Ombre portée pour un effet de profondeur */
    margin: 20px;
    /* Marge autour de l'article pour ne pas coller aux bords du content */
    border-radius: 10px;
    /* Bordures arrondies */
}

h1,
h2 {
    font-family: 'Uncial Antiqua', serif;
    /* Utilise la police médiévale */
    color: #997207;
    /* Couleur brun-rougeâtre sombre pour un look plus ancien */
    /*text-align: center;*/
    /* Centre les titres */
}

h1 {
    font-size: 2em;
    /* Taille plus grande pour le titre principal */
    /*margin-bottom: 0.3em;*/
    /* Espacement pour séparer du sous-titre */
}

h2 {
    font-size: 1.5em;
    /* Légèrement plus petit que le h1 */
    color: #997207;
    /* Une nuance un peu différente pour le sous-titre */
    /*margin-bottom: 1em;*/
    /* Plus d'espace après le sous-titre */
}

/* Ajouter des décorations optionnelles */
.header-content {
    background: url('path/to/medieval-texture.jpg');
    /* Ajoute une texture de fond médiévale si désiré */
    /*padding: 20px;*/
    /*border: 1px solid #4a2c2a;*/
    /* Bordure pour renforcer le style ancien */
}

h3 {
    color: rgb(29, 28, 28);
    /* Couleur plus foncée pour le titre */
    font-family: 'Arial', sans-serif;
    /* Police plus élégante, assurez-vous que la police correspond à votre design */
}

p {
    color: rgb(22, 22, 22);
    /* Couleur plus légère pour le texte */
    line-height: 1.6;
    /* Espacement de ligne pour meilleure lisibilité */
    font-family: 'Arial', sans-serif;
}

a {
    color: #443409;
    font-weight: bold;
    /* Couleur du lien */
    text-decoration: none;
    /* Pas de soulignement */
}

a:hover {
    color: #f5b608;
    font-weight: bold;
    /* Couleur du lien au survol */
}

.content-footer {
    width: 100%;
    /* S'assure que le footer prend toute la largeur de la page */
    background-color: #333;
    /* Couleur de fond sombre pour le footer, ajustable selon vos préférences */
    color: #fff;
    /* Couleur du texte blanc pour le contraste */
    padding: 20px 0;
    /* Ajoute de l'espace au-dessus et en dessous du texte dans le footer */
    text-align: center;
    /* Centre le texte dans le footer */
    border-top: 3px solid #DAA520;
    /* Bordure supérieure dorée */
}

.pf {
    color: white;
}

.video-content_youTube {
    display: block;
    justify-content: center;

    width: 100%;
    text-align: center;
    background: rgba(22, 16, 16, 0.5);
    /* Fond transparent comme les articles */
    padding: 10px;

    border-top: 2px solid #DAA520;
    border-bottom: 2px solid #DAA520;
    height: auto;

}

.article-video {
    width: 50%;
    /* Utiliser toute la largeur disponible */
    max-width: auto;
    padding: 10px;
    border: 2px solid #DAA520;
    margin-left: 25%;
    /* Largeur maximale de l'iframe */
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.content-Shop {
    width: 100%;
    padding: 20px;
    background-color: #2E1A14;
    /* Couleur de fond sombre pour l'ensemble du contenu */
    text-align: center;
}

#currentPieces {
    color: #f5b400;
}

.pieces {
    color: #b48606;
    font-style: italic;
    font-size: 1.2em;
    font-family: 'Uncial Antiqua', cursive;
}

.result {
    color: #f3b406;
    font-style: italic;
    font-size: 1.5em;
    font-family: 'Uncial Antiqua', cursive;
}

.container_h3 {
    display: flex;
    justify-content: center;
    /* Centre horizontalement */
    align-items: center;
    /* Centre verticalement */
    height: 100px;
    /* Assurez-vous que le conteneur a une hauteur définie */
}

.h3_item {
    text-align: center;
    color: #f3b406;
    font-style: italic;
    font-size: 1.8em;
    font-family: 'Uncial Antiqua', cursive;
}

#jsonContent {
    width: 90%;
    margin-left: 5%;
    background-color: #4A2F27;
    /* Couleur de fond sombre pour les éléments JSON */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(248, 191, 4, 0.5);
    /* Ombre pour donner un effet de profondeur */
}

.item {
    border: 2px solid #704214;
    /* Couleur brun foncé pour les bordures */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    /*background-image: url("0_74540_2b168c16_XXXL.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
    background-color: #704214;
    color: #F5F5DC;
    /* Texte couleur beige pour un bon contraste */
    font-family: 'Uncial Antiqua', cursive;
    /* Police médiévale */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    /* Ombre pour donner un effet de profondeur */
}

.item h4 {
    margin-top: 0;
    font-size: 1.5em;
    /* Taille de police légèrement plus grande pour les titres */
    color: #FFD700;
    /* Couleur or pour les titres */
    text-shadow: 2px 2px 5px #000000;
    /* Ombre pour donner un effet de profondeur aux titres */
}

.item p {
    margin-bottom: 15px;
    color: #FFFFFF;
    /* Couleur blanche pour le texte */
    text-shadow: 1px 1px 3px #000000;
    /* Ombre pour donner un effet de profondeur au texte */
}

.item button {
    background-color: #c56505;
    /* Couleur brun foncé pour les boutons */
    color: #FFFFFF;
    /* Texte blanc */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Uncial Antiqua', cursive;
    /* Police médiévale */
    font-size: 1em;
    /* Taille de police standard pour les boutons */
    text-shadow: 1px 1px 3px #000000;
    /* Ombre pour donner un effet de profondeur au texte des boutons */
}

.item button:hover {
    background-color: #ff5100;
    /* Couleur légèrement plus claire au survol */
    color: #FFD700;
    /* Texte couleur or au survol */
}

/*************************************************************** Styles de base pour mobiles (écrans jusqu'à 600px de large) *****************************************/
@media (max-width: 600px) {
    .content {
        flex-direction: column;
    }

    .article-left,
    .article-right {
        width: 100%;
        height: auto;
        /* Ajustement pour une meilleure lisibilité sur mobile */
        margin-left: 0;
        /* Ajuster la marge pour l'article de droite */
    }

    .header-content {
        flex-direction: column;
    }

    .discord-button {
        margin-top: 10px;
        margin-left: 0%;
        padding-bottom: 2em;
    }

    h1,
    h2,
    h3,
    h4 {
        text-align: center;
    }

    .content-footer {
        padding: 10px 0;
    }
}

/* Styles pour tablettes (écrans entre 601px et 800px de large) */
@media (min-width: 601px) and (max-width: 800px) {

    .article-left,
    .article-right {
        width: 100%;
        height: auto;
        /* Chaque article prend la pleine largeur */
        margin-left: 0;
    }

    .header-content {
        flex-direction: column;
    }

    .discord-button {
        margin-top: 10px;
        margin-left: 0%;
        padding-bottom: 2em;
    }

    h1,
    h2,
    h3,
    h4 {
        text-align: center;
    }

    .content-footer {
        padding: 15px 0;
    }
}

/* Styles pour tablettes (écrans entre 601px et 800px de large) */
@media (min-width: 801px) and (max-width: 1000px) {

    .article-left,
    .article-right {
        width: 100%;
        height: auto;
        /* Chaque article prend la pleine largeur */
        margin-left: 0;
    }

    .header-content {
        flex-direction: column;
    }

    .discord-button {
        margin-top: 10px;
        margin-left: 0%;
        padding-bottom: 2em;
    }

    h1,
    h2,
    h3,
    h4 {
        text-align: center;
    }

    .content-footer {
        padding: 15px 0;
    }

    .video-content {
        display: flex;
        justify-content: center;
        padding: 5px;
        background: rgba(255, 255, 255, 0.5);
        /* Fond transparent comme les articles */
        margin: 20px;
        border: 2px solid #DAA520;
        /* Bordure dorée */
        border-radius: 10px;
        /* Bordures arrondies */

        height: auto;
    }

    .article-video {
        width: 100%;
        /* Utiliser toute la largeur disponible */
        max-width: auto;
        /* Largeur maximale de l'iframe */
    }
}
